<% require 'cgi' %> 	
<!-- http://www.moxleystratton.com/blog/2007/07/31/ruby-escape-unescape-encode-decode-html-xml-uri-url/ -->

<h3>Reviews by <%= @reviewer.name %></h3>

<% @reviews.each do |review| %>
	On <%= link_to review.title, book_url(review.book_id) %>:</br>
	<%= CGI.unescapeHTML(review.blurb) %></br>
	<%= link_to 'Full review', review.url %></br>

<% end %>