<h3>Today's NYT Fiction Best-Sellers</h3>

<% @books.each do |book| %>
	<%= book.rank %>. 
	<%= link_to book.title, book_url(book.id) %> - <%= book.author.name %>
	</br>
<% end %>

<p><%= link_to 'Archive', archive_url %>