body {
  font-family: 'Noto Serif', serif;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.book_cover {
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
  height: 175px
}

.book_info {
  clear: both;
  margin-bottom: 20px;
  width: 800px;
}

.reviews {
  clear: both;
  width: 800px;
}

.comments {
  clear:both;
  width: 800px;
}

.footer {
  margin-top: 20px
}

.header {
  clear: both;
  margin-bottom: 20px
}
