<h3>Favorite Books</h3>

<% if @favorite_books.count < 1 %>
	You don't have any favorite books yet.
<% else %>
	<% @favorite_books.each do |book| %>
		<%= link_to book.title, book_url(book.id) %> - <%= book.author.name %>
		</br>
	<% end %>
<% end %>